<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dinnerware">
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dinnerware">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kayitol"></activity>
        <activity android:name=".login"></activity>
        <activity android:name=".menu"></activity>
        <activity android:name=".siparisver"></activity>
        <activity android:name=".siptamamla"></activity>
        <activity android:name=".icerik"></activity>
        <activity android:name=".suprizsecim"></activity>
        <activity android:name=".yonetimlogin"></activity>
        <activity android:name=".yonetimmenu"></activity>
        <activity android:name=".musteriliste"></activity>
        <activity android:name=".yorum"></activity>
        <activity android:name=".kullaniciyorumlari"></activity>
        <activity android:name=".siparislistesi"></activity>
        <activity android:name=".smsolustur"></activity>
    </application>

</manifest>